.row
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2.margin-top0 Capabilities
    %ul
      %li
        %strong Git-based version control
        Use the Git tooling you already have as an interface for operations. Version your Infrastructure as Code along with configure, policy to make reproducible environments. During incidents roll back to a last known working state to lower your Meant Time to Resolution (MTTR).
      %li
        %strong Code Review
        Improve code quality, distribute best practices, and catch error before they go live with Merge Requests that keep track of and resolve threads, apply in-line suggestions and work asynchronously with in-line and general threaded comments.
      %li
        %strong Protected Branches
        Allow everyone to contribute with shared code repositories while limiting who can deploy to production with unique permissions for protected branches.
      %li
        %strong CI/CD
        Continually rated as a leader in CI/CD, GitLab provides powerful and scalable CI/CD built from the ground up into the same application as your agile planning and source code management for a seamless experience.
      %li
        %strong Terraform integration
        GitLab stores your Terraform state file and shows Terraform plan output directly in the merge request.
      %li
        %strong Deploy anywhere
        From containers and VMs to bare metal GitLab's deploys everywhere. Go multicloud with AWS, Azure, and Google Cloud and more.

%hr.divider

